.content {
  &__home {
    display: flex;
    position: relative;
  }

  &__dim {
    opacity: 0.9;
  }

  &__photo {
    position: relative;
    background-image: url('../../images/homeContent.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__description {
    position: absolute;
    top: 0;
    right: 0;
    top: 20%;
    text-align: right;
    margin-right: 20px;
    letter-spacing: 1px;
    width: 400px;
    font-family: 'Rubik', sans-serif;
  }

  &__heading {
    font-size: 34px;
    font-weight: 700;
    color: #fdd000;
    text-transform: uppercase;
    letter-spacing: 4px;    
  }

  &__text {
    color: white;
    opacity: 0.8;
    font-weight: 300;
  }

  &__data,
  &__photo {
    height: calc(100vh - 148px);
    flex: 1 1 50%; 
  }

  &__data {
    background-color: black;
    opacity: 0.9;
    flex: 1 1 20%;
  }

  &__calendar-wrapper {
    margin-top: calc((100vh - 148px) / 4);
  }

}

@media (max-width: 1150px) {
  .content {
    &__home {
      display: block;
      flex-direction: column;
    }

    &__data {
      flex: 1 1 50%;
      height: 100%;
    }

    &__calendar-wrapper {
      margin-top: 10px;
      padding: 50px 0;
    }
  }
}

@media (max-width: 630px) {
  .content {
    &__description {
      left: 45%;
      top: 50%;
      width: 300px;
    }

    &__heading {
      font-size: 25px;
    }
  }
}

@media (max-width: 540px) {
  .content {
    &__description {
      left: 30%;
      top: 50%;
      width: 300px;
    }

    &__heading {
      font-size: 25px;
    }
  }
}

@media (max-width: 430px) {
  .content {
    &__description {
      left: 10%;
      top: 50%;
      width: 300px;
    }

    &__heading {
      font-size: 21px;
    }
  }
}

@media (max-width: 340px) {
  .content {
    &__description {
      left: 0;
      top: 50%;
      width: 300px;
    }

    &__heading {
      font-size: 21px;
    }
  }
}



